<div>	
	<section class="section" id="profile">
		<div class="container okvir">
			
			<br/>
			
			<h3 class="text-center title">Knjige</h3>
		
			<br/>
		
			<div class="table-responsive">          
				<table class="table" ng-if="cac.rola === 'admin'">
			    	<thead>
			      		<tr>
			        		<th>Naslov</th>
			        		<th>Autor</th>
			        		<th>Kategorija</th>
					        <th>Jezik</th>
					        <th>Godina objavljivanja</th>
					        <th colspan="2"></th>
			  			</tr>
			    	</thead>
			    	<tbody>
			      		<tr ng-repeat="book in cac.categoryBooks">
							<th>{{book.title}}</th>
					        <th>{{book.author}}</th>
					        <th>{{book.category}}</th>
					        <th>{{book.language}}</th>
					        <th>{{book.publicationYear}}</th>
					        <th><a ng-if="cac.category == '' || cac.category.name == book.category" ng-click="cac.download(book.id, book.filename)"><button class="btn btn-primary">Skini</button></a></th>
					        <th><button class="btn btn-primary" type="submit" ng-click="cac.updateBook(book.id)">Promeni podatke</button></th>
			      		</tr>
			    	</tbody>
			  	</table>
			  	<table class="table" ng-if="cac.rola === 'preplatnik' || cac.rola === 'posetilac'">
			    	<thead>
			      		<tr>
			        		<th>Naslov</th>
			        		<th>Autor</th>
			        		<th>Kategorija</th>
					        <th>Jezik</th>
					        <th>Godina objavljivanja</th>
					        <th></th>
			  			</tr>
			    	</thead>
			    	<tbody>
			      		<tr ng-repeat="book in cac.categoryBooks">
							<th>{{book.title}}</th>
					        <th>{{book.author}}</th>
					        <th>{{book.category}}</th>
					        <th>{{book.language}}</th>
					        <th>{{book.publicationYear}}</th>
					        <th><a ng-if="cac.category == '' || cac.category.name == book.category && cac.rola === 'preplatnik'" ng-click="cac.download(book.id, book.filename)"><button class="btn btn-primary">Skini</button></a></th>
			      		</tr>
			    	</tbody>
			  	</table>
			  </div>
		</div>
	</section>
</div>