<div>	
	<section class="section" id="profile">
		<div class="container okvir">
		
			<h3 class="text-center title">Kategorije</h3>
			
			<div class="row" ng-if="cac.rola === 'admin'">
				<div class="text-center" >
					<button class="btn btn-primary" type="submit" ng-click="cac.addCategory()">Dodaj novu</button>
				</div>
			</div>
			
			<br ng-if="cac.rola === 'admin'" />
			
			<div class="table-responsive">          
				<table class="table" ng-if="cac.rola === 'admin'">
			    	<thead>
			      		<tr>
			        		<th>Naziv</th>
					        <th colspan="2"></th>
			  			</tr>
			    	</thead>
			    	<tbody>
			      		<tr ng-repeat="category in cac.categories">
							<th>{{category.name}}</th>
					        <th><button class="btn btn-primary" type="submit" ng-click="cac.books(category.id)">Knjige</button></th>
					        <th><button class="btn btn-primary" type="submit" ng-click="cac.update(category.id)">Promeni podatke</button></th>
			      		</tr>
			    	</tbody>
			  	</table>
			  	
			  	<table class="table" ng-if="cac.rola === 'preplatnik' || cac.rola === 'posetilac'">
			    	<thead>
			      		<tr>
			        		<th>Naziv</th>
					        <th></th>
			  			</tr>
			    	</thead>
			    	<tbody>
			      		<tr ng-repeat="category in cac.categories">
							<th>{{category.name}}</th>
					        <th><button class="btn btn-primary" type="submit" ng-click="cac.books(category.id)">Knjige</button></th>
			      		</tr>
			    	</tbody>
			  	</table>
			  </div>
		</div>
	</section>
</div>