<div>	
	<section class="section" id="profile">
		<div class="container okvir">
			
			<br/>

		<form accept-charset="UTF-8" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-1 col-md-offset-4">
					<p class="p-text">File: </p>
				</div>
				<div class="col-md-3">
					<input type="file" class="form-control input-md" file-model = "myFile" ng-model="boc.book.file" >
				</div>	
			</div>
		</form>
			
		<br/>
			
		<div class="text-center">
			<button class="btn btn-primary" type="submit" ng-click="boc.upload()">Save</button>
		</div>
			
		</div>
	</section>
</div>