<div>	
	<section class="section" id="profile">
		<div class="container okvir">
			
			<br/>
			
		<h3 class="text-center title">Knjige</h3>
			
		<div class="row" ng-if="boc.rola === 'admin'">
			<div class="text-center" >
				<button class="btn btn-primary" type="submit" ng-click="boc.addBook()">Dodaj novu knjigu</button>
			</div>
		</div>
		
		<br/>
		
		<div class="table-responsive">          
			<table class="table" ng-if="boc.rola === 'admin'">
		    	<thead>
		      		<tr>
		        		<th>Naslov</th>
		        		<th>Autor</th>
		        		<th>Kategorija</th>
				        <th>Jezik</th>
				        <th>Godina izdavnja</th>
				        <th colspan="2"></th>
		  			</tr>
		    	</thead>
		    	<tbody>
		      		<tr ng-repeat="book in boc.books">
						<th>{{book.title}}</th>
				        <th>{{book.author}}</th>
				        <th>{{book.category}}</th>
				        <th>{{book.language}}</th>
				        <th>{{book.publicationYear}}</th>
				        <th><a ng-if="boc.category == '' || boc.category.name == book.category" ng-click="boc.download(book.id, book.filename)"><button class="btn btn-primary">Skini</button></a></th>
				        <th><button class="btn btn-primary" type="submit" ng-click="boc.update(book.id)">Promeni podatke</button></th>
		      		</tr>
		    	</tbody>
		  	</table>
		  	<table class="table" ng-if="boc.rola === 'preplatnik' || boc.rola === 'posetilac'">
		    	<thead>
		      		<tr>
		        		<th>Naslov</th>
		        		<th>Autor</th>
		        		<th>Kategorija</th>
				        <th>Jezik</th>
				        <th>Godina izdavnja</th>
				        <th></th>
		  			</tr>
		    	</thead>
		    	<tbody>
		      		<tr ng-repeat="book in boc.books">
						<th>{{book.title}}</th>
				        <th>{{book.author}}</th>
				        <th>{{book.category}}</th>
				        <th>{{book.language}}</th>
				        <th>{{book.publicationYear}}</th>
				        <th><a ng-if="boc.category == '' || boc.category.name == book.category && boc.rola === 'preplatnik'" ng-click="boc.download(book.id, book.filename)"><button class="btn btn-primary">Skini</button></a></th>
		      		</tr>
		    	</tbody>
		  	</table>
		  </div>
		</div>
			
		</div>
	</section>
</div>