<div>	
	<section class="section" id="profile">
		<div class="container okvir">
		
			<h5 class="text-center title2" >Dodajte novi knjigu</h5>
			
			<br/>

			<form accept-charset="UTF-8" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-2 col-md-offset-3">
						<p class="p-text">Pdf fajl *: </p>
					</div>
					<div class="col-md-4">
						<input ng-change="boc.upload() class="form-control input-md" type="file" class="form-control input-md" file-model = "myFile" ng-model="boc.book.file" required>
					</div>
					<div>
						<button class="btn btn-primary" type="submit" ng-click="boc.upload()">Pošalji</button>
					</div>	
				</div>
			</form>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Naslov*: </p> 
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control input-md" ng-model="boc.newBook.title">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Autor: </p> 
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control input-md" ng-model="boc.newBook.author">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Ključne reči: </p> 
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control input-md" ng-model="boc.newBook.keywords">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Godina objavljivanja: </p> 
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control input-md" ng-model="boc.newBook.publicationYear">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Kategorija*: </p> 
				</div>
				<div class="col-sm-4">
					<select class="form-control input-md" ng-options = "category as category.name for category in boc.categories track by category.id" ng-model="boc.newBook.category" required></select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Jezik*: </p> 
				</div>
				<div class="col-sm-4">
					<select class="form-control input-md" ng-options = "language as language.name for language in boc.languages track by language.id" ng-model="boc.newBook.language" required></select>
				</div>
			</div>
			
			<br/>
			<br/>
			
			<div class="text-center">
				<button class="btn btn-primary" type="submit" ng-click="boc.saveBook()">Sačuvaj</button>
			</div>
		</div>
	</section>
</div>