<div>	
	<section class="section" id="profile">
		<div class="container okvir">
		
			<h4 class="text-center title2">Update book</h4>
			
			<br/>

			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Title: </p> 
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control input-md" ng-model="boc.newBook.title">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Author: </p> 
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control input-md" ng-model="boc.newBook.author">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Keywords: </p> 
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control input-md" ng-model="boc.newBook.keywords">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Publication year: </p> 
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control input-md" ng-model="boc.newBook.publicationYear">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Category: </p> 
				</div>
				<div class="col-sm-4">
					<select class="form-control input-md" ng-options = "category as category.name for category in boc.categories track by category.id" ng-model="boc.newBook.category"></select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-md-offset-3">    
					<p class="p-text">Language: </p> 
				</div>
				<div class="col-sm-4">
					<select class="form-control input-md" ng-options = "language as language.name for language in boc.languages track by language.id" ng-model="boc.newBook.language"></select>
				</div>
			</div>
			
			
			<br/>			
			<br/>

			<div class="text-center">
				<button class="btn btn-primary" type="submit" ng-click="boc.bookUpdate()">Update</button>
			</div>
			
		</div>
	</section>
</div>