<div>	
	<section class="section" id="profile">
		<div class="container okvir">
		
			<h3 class="text-center title">Korisnici</h3>
			
			<div class="row" ng-if="usc.rola === 'admin'">
				<div class="text-center" >
					<button class="btn btn-primary" type="submit" ng-click="usc.addUser()">Dodaj novog korisnika</button>
				</div>
			</div>
			
			<br/>

			<div class="table-responsive">          
				<table class="table" ng-if="usc.rola === 'admin'">
			    	<thead>
			      		<tr>
			        		<th>Ime</th>
			        		<th>Prezime</th>
			        		<td>Korisničko ime</td>
			        		<th>Kategorija</th>
			        		<th>Tip</th>
					        <th></th>
			  			</tr>
			    	</thead>
			    	<tbody>
			      		<tr ng-repeat="user in usc.users">
							<th>{{user.firstname}}</th>
							<th>{{user.lastname}}</th>
							<th>{{user.username}}</th>
							<th>{{user.category.name}}</th>
							<th>{{user.type.name}}</th>
					        <th><button class="btn btn-primary" type="submit" ng-click="usc.changeUser(user.id)">Promeni podatke</button></th>
			      		</tr>
			    	</tbody>
			  	</table>
			</div>
			<!--  
			<div class="row" ng-repeat="user in usc.users" ng-if="usc.rola === 'admin'">
				<br/>
				<div class="col-md-2 col-md-offset-2">
					<p class="p-text">{{user.firstname}} {{user.lastname}}</p>
				</div>	
					<div class="col-md-1">
					<p class="p-text">{{user.username}}</p>
				</div>
					<div class="col-md-2">
					<p class="p-text">{{user.category.name}}</p>
				</div>
					<div class="col-md-2">
					<p class="p-text">{{user.type.name}}</p>
				</div>
				<div class="col-md-1">
					<button class="btn btn-primary" type="submit" ng-click="usc.changeUser(user.id)">Change user data</button>
				</div>
			</div>
			-->
		</div>
	</section>
</div>