<div>
	<section class="section" id="head">
		<div class="container okvir">
	
			<div class="row">
				<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
	
					<!-- Site Title, your name, HELLO msg, etc. -->
					<h1 class="title">Welcome to E-book</h1>
					<h2 class="subtitle">Be free to search book.</h2>
	
					<!-- Short introductory (optional) -->
					<h3 class="tagline">
						Try our search to find your favorite book.
					</h3>
					
					<!-- Nice place to describe your site in a sentence or two -->
					<p><a href="/download/" class="btn btn-default btn-lg">Download template now</a></p>
		
				</div> <!-- /col -->
			</div> <!-- /row -->
		
		</div>
	</section>
</div>