<div>
	<section class="section" id="head">
		<div class="container okvir">
	
			<div class="row">
				<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
	
					<!-- Site Title, your name, HELLO msg, etc. -->
					<h1 class="title">Dobrodosli na E-book</h1>
	
					<!-- Short introductory (optional) -->
					<h2 class="subtitle">
						Probajte nasu pretragu i nadjite vasu omiljenu knjigu.
					</h2>
		
				</div> <!-- /col -->
			</div> <!-- /row -->
		
		</div>
	</section>
</div>